<div id="content" class="container mt-5 p-4 h-75 rounded" style="font-size: 1.2em">

  <div class="row">
    <div class="col-3">
      <div class="d-flex justify-content-start align-self-start">
        <span style="font-size: 3em">Categorias</span>
      </div>
    </div>
    <div class="col-9">
      <div class="d-flex justify-content-end align-self-end">
        <button mat-raised-button color="primary" [routerLink]="['/category/new']">Cadastrar</button>
        <button mat-raised-button color="primary" (click)="reload()" class="ms-2">Recarregar</button>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="list-group mat-elevation-z2 overflow-auto" style="max-height: 40em;">
        <div *ngFor="let category of categories" class="list-group-item list-group-item-action">
          <app-category-list-item
            [category]="category"
            (itemChange)="refresh($event)"
            (deleteClick)="delete($event)">
          </app-category-list-item>
        </div>
      </div>

      <div *ngIf="categories.length == 0" class="alert alert-warning" role="alert">
        Nenhuma categoria foi cadastrada ainda
      </div>
    </div>
  </div>
</div>


